/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container.p-4 ol {
    padding-left: 1rem !important;
  }
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 75%;
  }
}

.container.p-4 li {
  min-height: 38px;
  padding: 5px 0;
}
/* input styles */
input[type="text"] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}
.list-group-item {
  text-decoration: underline;
}
#list_1 {
  word-spacing: 12px;
  line-height: 2.5;
}
#part_1 .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#part_1 textarea {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  resize: none;
  padding: 12px 20px;
  outline: none;
  min-height: 200px;
}
#nouns_anwser,
#verbs_anwser,
#adj_annwer {
  min-height: 200px;
}
